@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

form {
    width: 350px;
    padding: 40px;
    color: white;
    background-color: #121214;
}

img {
    width: 150px;;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header > h1 {
    font-size: 2em; 
    margin-bottom: 10px;
}

.header > p {
    color: #7C7C8A;
}

.container-text {
    display: flex;
    flex-direction: column;
    line-height: 12px;
    color: #C4C4CC;
    
}

.entrada {
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 3px;
    background-color: #202024;
    color: #7C7C8A;
}

.container-lembrar {
    display: flex;
    color: #7C7C8A;
}

.container-lembrar > a {
    margin-left: 95px;
    color: #7C7C8A;
}

button {
    width: 100%;
    margin: 10px 0;
    height: 40px;
    background-color: #0B51C1;
    color: #C4C4CC;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #0e61e5;
}

.container-footer > p {
    color: #7C7C8A;
    text-align: center;
    padding: 20px;
}

.container-footer > p > a {
    color: #C4C4CC;
}